<!doctype html>
<html>
  <head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuxfun Home - Linux and Programming News</title>
    <link rel='stylesheet' href="{% static 'blog/bootstrap/bootstrap.min.css' %}" >
    <link rel='stylesheet' href="{% static 'blog/quill.snow.css' %}">
    <link rel='stylesheet' href="{% static 'blog/main.css' %}">
    <link rel='stylesheet' href="{% static 'blog/font-awesome.min.css' %}">
    <meta charset="utf-8">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#blog-menu">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'blog:home' %}">TuxFun</a>
        </div>

        <div class="collapse navbar-collapse" id="blog-menu">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'blog:home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="{% url 'blog:index' %}"><span class="glyphicon glyphicon-time"></span> Recent</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'blog:category' 'linux' %}"><span class="glyphicon glyphicon-cog"></span> Linux</a></li>
                <li><a href="{% url 'blog:category' 'programming' %}"><span class="glyphicon glyphicon-stats"></span> Programming</a></li>
                <li><a href="{% url 'blog:category' 'web' %}"><span class="glyphicon glyphicon-globe"></span> Web</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'blog:category' 'thoughts' %}"><span class="glyphicon glyphicon-flag"></span> Thoughts</a></li>
                <li><a href="{% url 'blog:category' 'fun' %}"><span class="glyphicon glyphicon-user"></span> Fun</a></li>
              </ul>
            </li>
            <li><a href="{% url 'blog:add' %}"><span class="glyphicon glyphicon-pencil"></span> Add Blog</a></li>
            <li><a href="{% url 'blog:trash' %}"><span class="glyphicon glyphicon-trash"></span> Trash</a></li>
          </ul>
        </div>

      </nav>

    </header>

    <div class="page-header">

    </div>

      <div class="container">

        <!-- <ul class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
        </ul> -->

        <div class="row">
          <div class="col-md-9">
            {% block content %}

            {% endblock %}
          </div>

          <div class="col-md-3 col-sm-3">
            {% block aside %}
              <p><a href=#>Recents</a></p>
              <p><a href=#>Archive</a></p>
              <p><a href=#>About</a></p>
              <p><a href=#>Contacts</a></p>
            {% endblock %}
          </div>
        </div>

      </div>

    </div>
    <script src="{% static 'blog/jquery.min.js' %}"></script>
    <script src="{% static 'blog/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/quill.js' %}"></script>

    {# initialise Quil Editor #}
    <script>
      var editor = new Quill('#editor', {
        modules: { toolbar: '#toolbar' },
        theme: 'snow'
      });
    </script>

  </body>
</html>
